{% extends 'base.html' %}
{% load static %}
{% block main_container %}

    <div class="container-scroller">
      <!-- partial:../partials/_navbar.html -->
   {% include 'header.html' %}

      <!-- partial -->
      <div class="content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="aboutus-wrapper">
                    <h1 class="mt-5">
                      About Us
                    </h1>
                    <p class="font-weight-600 fs-15">
                      {{ about_us.paragraph_one }}
                    </p>
                    <p class="font-weight-600 fs-15 mb-5 mt-4">
                      {{ about_us.paragraph_two }}
                    </p>
                    <img
                      src="{{ about_us.image.url }}"
                      alt="banner"
                      class="img-fluid mb-5"
                    />

                    <p class="font-weight-600 fs-15 text-center">
                      {{ about_us.paragraph_three }}
                    </p>
                    <p class="font-weight-600 fs-15 mb-5 mt-4 text-center">
                     {{ about_us.paragraph_four }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    {% include 'footer.html' %}
{% endblock %}