{% load static %}
<!-- partial:partials/_footer.html -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <img src="{{ website_settings.logo.url }}" class="footer-logo" alt="logo" height="35px" width="150px"/>
                    <h5 class="font-weight-normal mt-4 mb-5">
                        Newspaper is your news, entertainment, music fashion website. We
                        provide you with the latest breaking news and videos straight from
                        the entertainment industry.
                    </h5>
                    <ul class="social-media mb-3">
                        <li>
                            <a href="{{ website_settings.facebook_link }}">
                                <i class="mdi mdi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ website_settings.youtube_link }}">
                                <i class="mdi mdi-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ website_settings.twitter_link }}">
                                <i class="mdi mdi-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3 class="font-weight-bold mb-3">RECENT POSTS</h3>
                    {% for latestnews in latest_news %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="footer-border-bottom pb-2">
                                    <div class="row">
                                        <div class="col-3">
                                            <img
                                                    src="{{ latestnews.banner.url }}"
                                                    alt="thumb"
                                                    class="img-fluid"
                                            />
                                        </div>
                                        <div class="col-9">
                                            <h5 class="font-weight-600">
                                                {{ latestnews.title }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="col-sm-3">
                    <h3 class="font-weight-bold mb-3">CATEGORIES</h3>
                    {% for categorie in categories %}

                        <div class="footer-border-bottom pb-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-0 font-weight-600">{{ categorie.name }}</h5>
                                <div class="count">{{ categorie.article_set.count }}</div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <div class="fs-14 font-weight-600">
                            {{website_settings.copy_right}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>